<h1><%= @task.title%></h1>

<h5><%= @task.details%></h5>

<p>
     <%if @task.completed %>
        <%="☑︎ The task is completed" %>
    <%else %>
        <%="□ The task is not completed yet" %>
    <%end %>
</p>

<%= link_to 'Edit this task', edit_task_path, class: 'btn btn-primary m-3 p-2' %>
<%= link_to 'back to list', tasks_path, class: 'btn btn-success m-3 p-2' %>
